{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": "off",
    "max-len": "off",
    "no-mixed-operators": "off",
    "global-require": "off",
    "camelcase": "off",
    "no-return-assign": "off"
  },
  "globals": {
    "navigator": false
  }
}
